@media screen and (max-width: 1200px) {
  #desktop-menu {
    display: none;
  }
  #mobile-menu {
    display: flex;
  }
  section {
    margin: 0 0rem;
  }
  .section-container {
    margin: 0 5%;
  }

  .introduction-container {
    flex-direction: column-reverse;
    height: fit-content;
  }
  .introduction-image {
    margin: 0 auto 2rem;
  }

  .introduction-text {
    text-align: center;

    margin: 0 7rem 2rem;
  }
}

@media screen and (max-width: 600px) {
  article,
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .title {
    font-size: 2rem;
  }
}
